section hr {
    margin: 20px 0 !important;
}

hr {
    margin-top: 10px;
    margin-right: 1600px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.user-value {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

button {
    margin: 10px;
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}