
.main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
}

.content {
    display: flex;
    justify-content: space-around;
    width: 100%;
 }

 .cid-logo {
    width: 25%;
    object-fit: contain;
 }