<article>
    <img class="cid-photo"
      [src]="ciddaten?.photo"
      alt="Foto: {{ ciddaten?.description }}"
      crossorigin
    />
    <section>
      <h2>{{ ciddaten?.description }}</h2>
      <p>{{ ciddaten?.hinweis }}</p>
    </section>
    <section>
      <h2>Über dieses Bild</h2>
      <ul>
        <li>Datum: {{ ciddaten?.date }}</li>
        <li>Ort: {{ ciddaten?.location }}</li>
        <li>Jahreszeit: {{ ciddaten?.season }}</li>
        <li>Zeit: {{ ciddaten?.zeit }}</li>
      </ul>
    </section>
    <section>
        <h2>Bild senden</h2>
        <!--
          Reactive Form im Gegensatz zu template forms, die die Bindung zwischen dem Template und
          der Komponente programmatisch handhabt).
          (ngSubmit) statt (submit) [Standardverhalten des Browsers (Seiten-Reload wird nicht
          automatisch verhindert, event.preventDefault() aufrufen)].
        -->
        <form [formGroup]="bildSendenForm" (ngSubmit)="bildSenden()">
            <label for="name">Name</label>
            <input id="name" type="text" formControlName="name" />
            @if (hasError('name')) {
              <div class="error">Name ist erforderlich</div>
            }
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email" />
            @if (hasError('email')) {
              <div class="error">
                  @if (hasSpecificError('email', 'required')) {
                      <span>E-Mail ist erforderlich</span>
                  }
                  @if (hasSpecificError('email', 'email')) {
                      <span>Ungültige E-Mail-Adresse</span>
                  }
              </div>
            }
            <button type="submit" [disabled]="!bildSendenForm.valid">Bild senden</button>
        </form>
    </section>
    <app-checkbox [(checked)]="schoenesBild" label="Schoenes Bild" />
    @if (schoenesBild()) {
      <p>Schönes Bild :)</p>
    }
    @else {
      <p>Dann eben nicht :-(</p>
    }
    <app-checkbox [(checked)]="ichWillMehrBilder" label="Ich will mehr Bilder" />
    @if (ichWillMehrBilder()) {
      <p>Ich will mehr Bilder :)</p>
    }
    @else {
      <p>Dann eben nicht :-(</p>
    }
    <button id="reset" (click)="resetCheckBoxes()">Checkboxen zurücksetzen</button>
    <hr />
    <p class="cidkarten-anzahl">Anzahl aller bestellten Bilder insgesamt: {{ cidkartenService.anzahlItemsInsgesamt() }}</p>
    <ul id="cidkarten">
      <li><button id="addImageToCidkarten" (click)="addImageToCidkarten()">Bild zur Cidkarte hinzufügen</button></li>
      <li><button id="removeImageFromCidkarten" (click)="removeImageFromCidkarten()">Bild aus Cidkarte entfernen</button></li>
    </ul>
  </article>
