<section title="{{ debugStatus }}" (mouseover)="setDebugStatus()">
    @if (debug) {
        <p>Debug: {{ ciddatenListe().length }} Ciddaten gefunden</p>
        <p>Debug: {{ filteredCiddatenListe().length }} Ciddaten gefiltert</p>
        <p>Versteckt: {{ ciddatenListe().length - filteredCiddatenListe().length }} Ciddaten nicht gefiltert</p>
        <p>FilteredCiddatenListe: {{ filteredCiddatenListe() | json }}</p>
    }
    @else {
        <p>Keine Debug-Informationen anzeigen</p>
    }
    <button class="primary" type="button" (click)="toggleDebug()">Debug ein/aus</button>
    <hr />
    @for (cidNamen of cidNamenListe; track $index) {
        <p>
            <span>{{ cidNamen.typ }}: {{ cidNamen.name }}</span>
        </p>
    }
</section>
<hr />
<div [contentEditable]="debug">Editierbaer Inhalt: {{ `${debug}` | uppercase }} ({{ debug+'' | lowercase }})</div>
<p>Datum: {{ datum | date:'dd.MM.yyyy HH:mm:ss' }} ({{ datum | date:'medium' }})</p>
<p>Zahl: {{ 1234567890 | number:'1.2-2':'de' }}</p>
<label for="debug">Debug: {{ debug }}
    <!--
        Template Form (nicht programmatisch gesteuert wie reactive forms,
        sondern über die ngModel-Direktive, die die Bindung zwischen dem Template
        und der Komponente handhabt).
    -->
    <input type="checkbox" id="debug" [(ngModel)]="debug" />
</label>
<hr />
<section>
    @defer (on viewport) {
        <app-loader />
    }
    @placeholder (minimum 5s) {
        <p>Wir laden diesen Inhalt, wenn wir ihn benötigen.</p>
    }
    @loading (minimum 5s) {
        <p>Laden...</p>
    }
    @error {
        <p>Fehler beim Laden dieses Inhalts.</p>
    }
</section>
