<section class="search">
    <form >
        <section class="search-form">
            <input type="text" placeholder="Nach Ort suchen..." #ort />
            <input type="text" placeholder="Nach Beschreibung suchen..." #beschreibung />
            <button class="primary" type="button" (click)="filterListe(ort.value, beschreibung.value)">Suchen</button>
        </section>
    </form>
</section>
<section class="results">
    @for (ciddaten of filteredCiddatenListe; track $index) {
        <app-cidanzeige [ciddaten]="ciddaten" />
    }
</section>
<section title="{{ debugStatus }}" (mouseover)="setDebugStatus()">
    @if (debug) {
        <p>Debug: {{ ciddatenList.length }} Ciddaten gefunden</p>
        <p>Debug: {{ filteredCiddatenListe.length }} Ciddaten gefiltert</p>
        <p>Versteckt: {{ ciddatenList.length - filteredCiddatenListe.length }} Ciddaten nicht gefiltert</p>
    }
    @else {
        <p>Keine Debug-Informationen anzeigen</p>
    }
    <button class="primary" type="button" (click)="toggleDebug()">Debug ein/aus</button>
    <hr/>
    @for (cidNamen of cidNamenListe; track $index) {
        <p>
            <span>{{ cidNamen.typ }}: {{ cidNamen.name }}</span>
        </p>
    }
</section>
<div [contentEditable]="debug">Editierbaer Inhalt: {{ debug }}</div>
