.results {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    padding: 20px;
}
.search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}
.debug-hr {
    margin: 10px 0;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
}
